@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* global style for all elements */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

/* container sizes */

.container {
  max-width: 1920px;
  margin: 0 auto;
}

body {
  font-family: Poppins;
  line-height: 1;
  font-size: 100%;
}

/* reset styles */

label,
button {
  cursor: pointer;
  border: none;
  color: inherit;
}

a {
  color: inherit;
  font-size: inherit;
}

/* app-container style */

.app-container {
  height: 100dvh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
