/* @scope (.home-container) { */
.intro {
  padding-top: 156px;
  padding-bottom: 340px;
  min-height: 943px;
  width: 100%;
  background-image: url('../../assets/images/intro-bg.png');
}

.intro .content {
  max-width: 944px;
  margin: 0 auto;
}

.intro .title {
  color: #f2f2f2;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 55.9px;
  font-weight: 400;
  white-space: pre;
}

.content .form .search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 6px 6px 6px 16px;
  border-radius: 15px;
  background: #e7e7e7;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.25);
  margin-top: 150px;
  gap: 30px;
  color: #5d6661;
  font-size: 22.65px;
  font-weight: 400;
  border: 2px solid #e7e7e7;
}
.content .form .search-bar:has(input:focus) {
  border-color: #3498db;
}
.content .form input {
  flex: 1;
  background: none;
  border: 0;
  border-left: 2px solid #5d6661;
  height: 100%;
  padding-left: 30px;
  height: 44px;
  font-size: inherit;
  position: relative;
  z-index: 4;
}

.content .form button {
  border: 0;
  background: none;
  display: flex;
  align-items: flex-end;
  gap: 6px;
  justify-content: center;
  font-size: inherit;
  position: relative;
  z-index: 4;
}

.content .form button[type='submit'] {
  align-items: center;
  border-radius: 15px;
  background: #73af00;
  box-shadow: 0px 0px 6.1px 0px rgba(0, 0, 0, 0.25);
  padding: 8px;
}

.content .form .filter {
  position: relative;
}

.content .form .filter .select-options {
  position: absolute;
  top: calc(100%);
  left: -18px;
  z-index: 3;
  width: max-content;
  width: 300px;
  max-height: 200px;
  overflow: hidden;
  border-radius: 18px 0px 18px 18px;
  border: 2px solid #3498db;
  background: #d9d9d9;
  text-align: left;
  padding: 24px 12px 12px 12px;
}

.content .form .filter .select-options li {
  padding: 5px 12px;
  border-radius: 8px;
  transition: 100ms ease;
  line-height: 34px;
}

.content .form .filter .select-options li:hover {
  background: #3498db;
  color: #fff;
  cursor: pointer;
}

.content .form .filter .select-options li:active {
  background: var(--info);
}

/* } */
