.card {
  display: block;
  width: 331px;
  padding: 18px;
  border-radius: 27px;
  background: #e4e4e4;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  position: relative;
}

.card .card-top {
  border-radius: 27px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.card .card-top .swiper-slide {
  height: 210px;
  position: relative;
}

.card .card-top .swiper-slide img {
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 27px;
  transition: 300ms ease;
}

.card .card-top .swiper-slide img:hover {
  scale: 1.1;
}

.card .card-top .badge {
  position: absolute;
  top: 16px;
  left: -40px;
  rotate: 320deg;
  background-color: #ff4b55;
  border: 0.5px solid #ad000a;
  z-index: 3;
  padding: 0 20px;
  min-width: 150px;
  text-align: center;
}
.card .card-top .badge p,
.card .card-top .bottom-infos .views p {
  color: var(--swiper-pagination-color);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.card .card-top .bottom-infos {
  position: absolute;
  bottom: 10px;
  left: 16px;
  z-index: 2;
}

.card .card-top .bottom-infos .views {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card .card-body {
  padding-top: 12px;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: #5d6661;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card .card-body .pice {
  color: var(--info);
  text-transform: uppercase;
}

.card .card-body .row-info {
  display: flex;
  align-items: center;
}

.card .card-body .row-info p:nth-child(2) {
  margin: 0 10px;
  padding: 0 5px;
  border-left: 1px solid var(--secondary);
  border-right: 1px solid var(--secondary);
}

.card .card-body .address {
  text-wrap: balance;
}

.card .overlay {
  position: absolute;
  inset: 0;
  display: flex;
  z-index: 2;
}
.card .overlay button {
  flex: 1;
  opacity: 0;
}

.card .edit-btn {
  position: absolute;
  bottom: -23px;
  right: -23px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border-radius: 46px;
  background: var(--swiper-pagination-color);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}
.card .pending-status {
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 4;
  border-radius: 27px;
  border: 1px solid #0085af;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5.3px);
}
